<div class="container-fluid mb-5" id="featureFood">
  <div class="container">
  <div class = "row">
    <div class = "col-12">
      <h2 class = "featureFood-title text-center p5">
        Find Your Best Food
        <div class="d-block featureFood-title-subtitle mt-4">Presented by Foodhub Team</div>
      </h2>
    </div>

    <div class="col-12">
      <div class = "row">
        <div class="col-8 col">
          <div class="row">
      
      <div class="col-12">
        <div class="row">
         
           <!-- ngFor for the first 2 elements-->
         <ng-template ngFor let-item [ngForOf] ="featured"  let-i = "index"  >
          <div *ngIf= "i < 2" class="col-md-12 col featureFood-item">
            <div class = "row" *ngIf="i % 2 != 0">
              <div class = "col-md-6 text-center bg-white">
                <div class="flex-column d-flex align-content-center justify-content-center h-50 ">
                  <h3>
                    {{item.name}}
                  </h3>
                  <h4>
                    {{item.subTitle}}
                  </h4>
                  <div class="featureFood-item-description">
                    {{item.description}}
                  </div>
                </div>
                </div>
              <div class="col-md-6 featureFood-item-img-wrapper" style="background-image: url({{item.picture}});">
                
              </div>
            </div>
            <div class = "row" *ngIf="i % 2 == 0">
              <div class="col-md-6 featureFood-item-img-wrapper" style="background-image: url({{item.picture}});">
              </div>
              <div class = "col-md-6 text-center bg-white">
                <div class="flex-column d-flex align-content-center justify-content-center h-50 ">
                  <h3>
                    {{item.name}}
                  </h3>
                  <h4>
                    {{item.subTitle}}
                  </h4>
                  <div class="featureFood-item-description">
                    {{item.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
         
        
      </div>
    </div>
      </div>
    </div>
    <!----------------->
    <div class="col-4 col">
      
        <ng-template ngFor let-item [ngForOf] ="featured"  let-i = "index" >
          <div *ngIf= "i > 1" class="featureFood-item">
            <div class = "row" >
                <div class="col-md-12 featureFood-item-img-wrapper" style="background-image: url({{item.picture}});"></div>
              <div class = "col-md-12  text-center ">
                <div class="flex-column d-flex align-content-center justify-content-center h-400">
                  <h3>
                    {{item.name}}
                  </h3>
                  <h4>
                    {{item.subTitle}}
                  </h4>
                  <div class="featureFood-item-description">
                    {{item.description}}
                  </div>
                </div>
                
              </div>
            </div>  
          </div>
        </ng-template>
    </div>
   </div>   
    </div>
    </div>
  </div>
</div>


